.brand-logo {
    background-image: url("https://dummyimage.com/200x50/ffffff/000000.png&text=logo");
    width: 130px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-arrow {
    display: none;
}

.search-bar {
    position: absolute;
    top: 520px;
    margin-left: 300px;
    margin-right: 300px;
}

.for-carousel {
    position: absolute;
}

.carousel-caption {
    top: 200px;
    font-size: 50px;
}




/*.brand-logo {*/
    /*width: 60px;*/
    /*max-height: 100%;*/
/*}*/