.brand-logo {
    background-image: url("https://dummyimage.com/200x50/ffffff/000000.png&text=logo");
    width: 130px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.overflow {
    overflow: hidden;
}

/*.brand-logo {*/
    /*width: 60px;*/
    /*max-height: 100%;*/
/*}*/