.brand-logo {
    background-image: url("https://dummyimage.com/200x50/ffffff/000000.png&text=logo");
    width: 130px;
    height: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-arrow {
    display: none;
}

.search-bar {
    /*position: absolute;*/
    /*top: 30vmax;*/
    margin-left: 15.5vmax;
    margin-right: 17vmax;
    margin-top: 15px;
    margin-bottom: 30px;
}

.for-carousel {
    /*position: absolute;*/
    top: 50px;
}

.carousel-caption {
    top: 160px;
    font-size: 50px;
}

#keyword {
    border-radius: 6px;
}

.input-group-btn:last-child>.btn {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.banner {
    top: 50px;
}

.releases {
    position: relative;
    margin-top: 15px;
}

.main-photos {

    margin-right: 10px;
}

.main-photos-caption {
    display: inline-block;
}


.contact{
    background-color: #EEEEEE;
    height: 250px;
    margin-top: 40px;
}
.footer {
    position: relative;
    background-color: #DDDDDD;
    height: 350px;
}

.filter-head {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #e7e7e7;
}

.filter-left {
    margin-left: 15px;
    margin-right: -15px;
    padding: 15px 15px 15px 15px;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #e7e7e7;
}


.form-navbar {
    padding-top: 7.5px;
}

.form-select-item4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 700;
}

.form-check-inline {
    display: inline;
    padding-right: 30px;
}

.form-check-label {
    font-weight: 400;
}

.caption {
    opacity: 0.4;
    font-style: italic;
}

.filter-units {
    margin-top: -5px;
}

.filter-caption {
    font-weight: 500;
    margin-top: 3px;
}

.button-left-form {
    margin-top: 10px;
}

.filter-left {

}

.main-item {
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: #e7e7e7;
    margin-bottom: 10px;
}


.body-display {
    margin-left: 10px;
}

.item-unit {
    border-width: 1px;
    border-style: solid;
    border-color: #e7e7e7;
    height: 200px;

}

.like-button {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 30px;
    color: #ff6666;
}

.item-ratings {
    color: #fcce01;
}

.item-unit-second {
    padding: 10px 10px 10px 20px;
}
.view-rooms {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.price-tag {
    position: absolute;
    top: 10px;
    left: 5px;
}

.price-tag > span {
    display: block;
    opacity: 0.5;
    font-size: 15px;
}

.price-tag > p {
    display: block;
    font-size: 35px;
    margin-top: -7px;
    margin-bottom: -7px;
}

.footer {
    height: 300px;
}


/*.brand-logo {*/
    /*width: 60px;*/
    /*max-height: 100%;*/
/*}*/